<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>StickerMaker</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
    <div id="stickerTradeMenuDiv" class="hidden">
	  
         <form id="stickerTradeMenu"
	    	onSubmit={handleSelectTradeSticker}
	    	name="stickerTradeMenu"
	    	action="/maker"
	    	method="GET"
	    	>
	    	How much do you want to trade {props.sticker.name} for? <span> <br /> <br /> </span>
	    	<label htmlFor="price">Price: </label>
	    	<input id="stickerPrice" type="text" name="price" placeholder="Sticker Price"/>
	    	<input type="hidden" name="_csrf" value={props.csrf} />
	    	<input className="tradeStickerSubmit" type="submit" value="Trade Sticker" />
	    </form>
      
    </div>
  <nav>
	<section class="float-middle">
	  <section class="button" id="makerUpgradeButton"><a  href="/upgrade">Go Pro!</a></section>
	  <section class="button" id="makerTradeButton"><a  href="/trade">Trading Floor</a>
	  </section> 
	  </section>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>
  <section class="accountInfo">	
  </section>
	
  <section id="makeSticker">
  </section>

  <section id="stickers">
  </section>
  <div id="stickerMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="sticker" src="assets/img/Clippy.png" alt="sticker"/>
  </div>
  <script src="/assets/maker.js"></script>
  <script src="/assets/helper.js"></script>
</body>
</html>